body {
	font: 400 15px Lato, sans-serif;
	line-height: 1.8;
	color: #000000;
	font-family: Montserrat, sans-serif;
}
.jumbotronBanner {
	background-color: #f1f1f1;
	color: #000000;
	padding: 100px 25px 70px 25px;
	font-family: Montserrat, sans-serif;
}
.jumbotronBanner h5{
	font-size: 15px;	
}
.text-design{
	letter-spacing: 4px;
	font-family: Montserrat, sans-serif;
}
p{
	letter-spacing: 1px;
	font-family: Montserrat, sans-serif;
	font-size:15px;
}
.container-fluid {
	padding: 60px 50px;
}
.container-body{
	padding: 5rem 1rem;
}
.bg-grey {
	background-color: #f6f6f6;
}
.item h4 {
	font-size: 19px;
	line-height: 1.375em;
	font-weight: 400;
	font-style: italic;
	margin: 70px 0;
}
.item span {
	font-style: normal;
}
.navbar {
	margin-bottom: 0;
	background-color: hsl(40, 95%, 56%);
	z-index: 9999;
	border: 0;
	font-size: 12px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
	font-family: Montserrat, sans-serif;
	padding: 0px;
  	position: fixed;
  	top: 0;
  	width: 100%;
}
.navbar li{
	padding: 8px 15px;
}
.navbar li a, .navbar .navbar-brand {
	color: #fff !important;
}
.navbar-brand{
	padding: 10px 0px 10px 40px;
}
.main-menu li:hover{
	background-color: #fff !important;
}
.main-menu li:hover a {
	color: #000000 !important;
}
.dropdown-menu {
	padding:0px;
	border-radius: 0px 0px 5px 5px;
	margin: 0px;
	border: 1px solid #cccccc ;
}
.dropdown-menu li {
	padding: 8px 0px;
	width:100%;
}
.dropdown-menu li a {
	font-size: 12px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
	font-family: Montserrat, sans-serif;
	color: #000000 !important;
	text-align: left;
}
.dropdown-menu li:hover {
	background-color: #f8f9fa !important;
}
.dropdown-menu li:hover:nth-child(2) {
	border-radius: 0px 0px 6px 6px;
	background-color: #ffffff;
}
.navbar-default .navbar-toggle {
	border-color: transparent;
	color: #fff !important;
	background: #fff !important;
}
.page-body{
  	min-height: 45rem;
}
footer{
	background-color: hsl(40, 95%, 56%);
	color: #fff;
	font-family: Montserrat, sans-serif;
}
.btnSend {
	border-radius: 0rem 0.25rem 0.25rem 0rem;
}
.btn-natural{
	background-color: #074415;
	color: white;
}
.place-img{
	height: 300px;
	padding: 10px 0px;
}
.place-img img{
	height: 280px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	border: 5px solid #f1f1f1;
  	border-radius: 4px;
}
.place-info{
	padding: 10px 30px;
}
h6{
	font-size:13px;
}
textarea{
	resize: none;
}
.card-img{
	width: 100%;
	height: 15rem;
	display:flex;
  	align-items:center;
  	padding: 5px;
}
.card-img img{
	text-align: center;
	width: 100%;
	height: 14rem;
}
.card-title{
	letter-spacing: 4px;
	font-family: Montserrat, sans-serif;
}
.card{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  	height: 47rem;
}
table thead tr{
	background-color: #505050;
	letter-spacing: 2px;
	font-family: Montserrat, sans-serif;
	color: white;
}
table thead tr th{
	font-weight: normal;
}
@keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(70%);
	} 
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@-webkit-keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	} 
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}
@media screen and (max-width: 768px) {
	.col-sm-4 {
		text-align: center;
		margin: 25px 0;
	}
	.btn-lg {
		width: 100%;
		margin-bottom: 35px;
	}
	.dropdown-menu{
		padding:1px !important;
		background-color: #ffffff !important;
		border: 0px;
		border-radius: 0px;
	}
	.dropdown-menu li a{
		text-align: left;
	}
	.navbar-brand{
		padding: 10px 0px 10px 15px;
	}
	.navbar-toggler{
		margin-right: 0.75rem;
		padding: .15rem .70rem;
		background-color: #ffffff;
	}
	.navbar-toggler-icon {
	    width: 20px;
	    height: 24px;
	}
	.fa-bars{
		color: #cccccc;
		font-size:25px;
	}
	.cnt-banner-img{
		height: 180px;
	}
	.container-body{
		padding: 5rem 1rem 2rem 1rem;
	}
	.place-img img{
  		border: 0px;
  		border-radius: 0px;
	}
}
@media screen and (max-width: 480px) {
	.logo {
		font-size: 150px;
	}
}
